/* 
ul {
    list-style: none;
    padding-left: 0.5rem;
} 

p.sub-label {
    font-size: medium;
    font-weight: 600;
}
*/

.custom-ul {
    list-style: none;
    padding-left: 0.5rem;
}

.customLi {
    margin-bottom: 0.5rem;
    font-size: large;
    font-weight: 600;
}

.label {
    color: coral;
    font-size: larger;
    font-weight: 800;
}

.sub-label {
    font-size: medium;
    font-weight: 600;
}

.imageWrapper {
    max-width: 200px;
}